defaults:
  - submitit_slurm

# @package hydra.launcher
submitit_folder: ${hydra.sweep.dir}/.submitit/%j
timeout_min: 2400
# cpus_per_task: 16
# gpus_per_node: 1
# tasks_per_node: 1
# gpus_per_task: 1
# mem_gb: 40
nodes: 1
name: ${hydra.job.name}
_target_: hydra_plugins.hydra_submitit_launcher.submitit_launcher.SlurmLauncher

# partition: gpu
gres: shard:20

qos: null
comment: null
cpus_per_gpu: null
mem_per_cpu: null
signal_delay_s: 120
max_num_timeout: 0
additional_parameters: {}
array_parallelism: 256