tensordict==0.1.0

# Image processing
Pillow==10.0.0
opencv-python==4.8.0.76

# Visualization
matplotlib==3.7.2
seaborn==0.12.2
tqdm==4.65.0

# Deep learning related
transformers==4.30.2

# Development tools
ipython==8.14.0
jupyter==1.0.0
ipywidgets==8.0.7

# For creating animations and videos
ffmpeg-python==0.2.0

# Configuration management
hydra-core==1.3.2
omegaconf==2.3.0
colorlog==6.7.0
wandb==0.15.4

# Additional dependencies
cython==3.0.0
pyyaml==6.0.1
cloudpickle==2.2.1
tensorboard==2.13.0 

numba